In [15]:
people={
    "first": ["Nishant", "Ram", "Shyam"],
    "last" : ["Neupane", "Sitaula", "Dahal"],
    "email" : ["nishant.neupane@gmail.com","ram.sitaula@gmail.com", "shyam.dahal@gmail.com"]
}
import pandas as pd
df = pd.DataFrame(people)
df

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com
1      Ram  Sitaula      ram.sitaula@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com

## Sorting by lastname in descending order

In [16]:
df.sort_values(by='last', ascending=False)

     first     last                      email
1      Ram  Sitaula      ram.sitaula@gmail.com
0  Nishant  Neupane  nishant.neupane@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com

In [17]:
df = pd.concat([df, pd.DataFrame({"first": ["Aryan", "Bishal"], "last" : ["Neupane", "Neupane"]})], ignore_index=True)

## If we want to sort primarily by last_name, then by first name in case of conflict, however descending by lastname and ascending by firstname

In [18]:
df.sort_values(by=["last","first"], ascending=[False,True])

     first     last                      email
1      Ram  Sitaula      ram.sitaula@gmail.com
3    Aryan  Neupane                        NaN
4   Bishal  Neupane                        NaN
0  Nishant  Neupane  nishant.neupane@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com

In [19]:
### getting back to sorting by index
df.sort_index()

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com
1      Ram  Sitaula      ram.sitaula@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com
3    Aryan  Neupane                        NaN
4   Bishal  Neupane                        NaN