In [2]:
import pandas as pd
df = pd.read_csv('Data/ETH_1h.csv')

In [4]:
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [5]:
### here the date is shown as object, converting to datetype
# cannot convert as it cannot parse the format
df['Date'] = pd.to_datetime('Date')

DateParseError: Unknown datetime string format, unable to parse: Date, at position 0

In [6]:
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [8]:
## converting into datetime by giving the date format
df["Date"] = pd.to_datetime(df["Date"], format='%Y-%m-%d %I-%p')

In [9]:
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [18]:
### this could directly be done during import
from datetime import datetime
format_date = lambda x:  datetime.strptime(x,'%Y-%m-%d %I-%p')
df_1 = pd.read_csv("Data/ETH_1h.csv", parse_dates=["Date"], date_parser=format_date)


# in newer pandas we can directly pass date_format argument

/tmp/ipykernel_10901/3846848960.py:4: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df_1 = pd.read_csv("Data/ETH_1h.csv", parse_dates=["Date"], date_parser=format_date)

In [19]:
df_1

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [23]:
## we can now use different datetime functions with this column
# df["Date"].dt.dayofweek   # - shows in number
df["DayInWeek"] = df["Date"].dt.day_name()
df

,Date,Symbol,Open,High,Low,Close,Volume,DayInWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [24]:
## similarly many other methods
df["Date"].min()

Timestamp('2017-07-01 11:00:00')

In [25]:
df["Date"].max()

Timestamp('2020-03-13 20:00:00')

In [26]:
# we can also add or subtract the dates
df["Date"].max() - df["Date"].min()

Timedelta('986 days 09:00:00')

In [28]:
## setting the date as index
df.set_index("Date", inplace=True)
df

,Symbol,Open,High,Low,Close,Volume,DayInWeek
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [29]:
# now we can use this to filter the data according to the dates
df.loc['2017']

,Symbol,Open,High,Low,Close,Volume,DayInWeek
Date,,,,,,,
2017-12-31 23:00:00,ETHUSD,743.01,743.01,740.33,741.27,2671091.87,Sunday
2017-12-31 22:00:00,ETHUSD,746.08,747.79,743.00,743.01,2514400.23,Sunday
2017-12-31 21:00:00,ETHUSD,750.11,751.00,743.96,746.08,2908764.02,Sunday
2017-12-31 20:00:00,ETHUSD,743.42,750.11,743.41,750.11,3330359.12,Sunday
2017-12-31 19:00:00,ETHUSD,739.89,743.75,739.88,743.42,2363924.30,Sunday
...,...,...,...,...,...,...,...
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [30]:
## for 2017 Nov and Dec data, we can use slicing as
df.loc['2017-11': '2017-12']

,Symbol,Open,High,Low,Close,Volume,DayInWeek
Date,,,,,,,
2017-12-31 23:00:00,ETHUSD,743.01,743.01,740.33,741.27,2671091.87,Sunday
2017-12-31 22:00:00,ETHUSD,746.08,747.79,743.00,743.01,2514400.23,Sunday
2017-12-31 21:00:00,ETHUSD,750.11,751.00,743.96,746.08,2908764.02,Sunday
2017-12-31 20:00:00,ETHUSD,743.42,750.11,743.41,750.11,3330359.12,Sunday
2017-12-31 19:00:00,ETHUSD,739.89,743.75,739.88,743.42,2363924.30,Sunday
...,...,...,...,...,...,...,...
2017-11-01 04:00:00,ETHUSD,303.62,304.47,303.53,303.64,501653.76,Wednesday
2017-11-01 03:00:00,ETHUSD,304.78,304.79,303.39,303.62,389271.54,Wednesday
2017-11-01 02:00:00,ETHUSD,303.36,305.00,303.30,304.78,304092.14,Wednesday
2017-11-01 01:00:00,ETHUSD,302.94,303.94,302.72,303.36,444362.32,Wednesday
2017-11-01 00:00:00,ETHUSD,303.50,303.51,302.12,302.94,637740.55,Wednesday

In [31]:
# for 2017 december daily highest for high column (resampling daywise)
df.loc['2017-12', "High"].resample('D').max()

Date
2017-12-01    468.43
2017-12-02    474.96
2017-12-03    483.50
2017-12-04    473.00
2017-12-05    470.00
2017-12-06    461.99
2017-12-07    448.89
2017-12-08    479.10
2017-12-09    535.10
2017-12-10    486.13
2017-12-11    519.49
2017-12-12    714.00
2017-12-13    784.77
2017-12-14    758.00
2017-12-15    706.00
2017-12-16    735.00
2017-12-17    746.93
2017-12-18    798.81
2017-12-19    875.00
2017-12-20    833.60
2017-12-21    845.00
2017-12-22    799.95
2017-12-23    774.99
2017-12-24    734.86
2017-12-25    759.88
2017-12-26    771.00
2017-12-27    767.00
2017-12-28    742.31
2017-12-29    755.00
2017-12-30    748.90
2017-12-31    751.00
Freq: D, Name: High, dtype: float64

In [33]:
#resampling different columns daywise, but different aggregate function
df.loc['2017-12'].resample("D").agg({"Open": min, "Close" : max})

              Open   Close
Date
2017-12-01  423.24  466.74
2017-12-02  454.80  473.33
2017-12-03  459.10  481.00
2017-12-04  459.03  471.31
2017-12-05  457.54  468.00
2017-12-06  430.92  460.00
2017-12-07  421.84  446.00
2017-12-08  423.76  472.28
2017-12-09  462.12  511.49
2017-12-10  439.08  474.15
2017-12-11  447.71  518.00
2017-12-12  506.80  686.82
2017-12-13  635.83  756.34
2017-12-14  675.76  753.00
2017-12-15  641.00  694.23
2017-12-16  685.11  716.65
2017-12-17  704.18  745.90
2017-12-18  700.00  794.00
2017-12-19  783.94  858.90
2017-12-20  776.48  828.32
2017-12-21  772.58  842.37
2017-12-22  558.37  785.01
2017-12-23  682.11  764.00
2017-12-24  660.00  722.01
2017-12-25  697.04  752.80
2017-12-26  740.12  770.00
2017-12-27  715.73  766.98
2017-12-28  676.04  737.00
2017-12-29  715.00  749.40
2017-12-30  696.03  743.13
2017-12-31  700.00  750.11