# dataframes can be visualized as dictionaries where keys are the columns and list of values are the data

In [1]:
people={
    "first": ["Nishant", "Ram", "Shyam"],
    "last" : ["Neupane", "Sitaula", "Dahal"],
    "email" : ["nishant.neupane@gmail.com","ram.sitaula@gmail.com", "shyam.dahal@gmail.com"]
}

In [2]:
# to obtain a column from the dictionary, we can do as:
people["email"]

['nishant.neupane@gmail.com', 'ram.sitaula@gmail.com', 'shyam.dahal@gmail.com']

In [4]:
# Now converting the dictionary to dataframe
import pandas as pd
df = pd.DataFrame(people)

In [5]:
df

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com
1      Ram  Sitaula      ram.sitaula@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com

In [6]:
# filteration on column level can be done in pandas as:
# df[<a value or list>]

df["email"] # or df.email however 1st one is preferred

0    nishant.neupane@gmail.com
1        ram.sitaula@gmail.com
2        shyam.dahal@gmail.com
Name: email, dtype: object

### The above data is 1d array where values are the data for the column. The datatype is called pandas series. An index value is also returned along with the series object.

In [7]:
# For filtering multiple columns, however the returned data type is also a dataframe in this case
df[["first","email"]]

     first                      email
0  Nishant  nishant.neupane@gmail.com
1      Ram      ram.sitaula@gmail.com
2    Shyam      shyam.dahal@gmail.com

## More fine grained filteration can be done using loc and iloc attributes
### 1) iloc (index location) : iloc[row_index, column_index(optional)] <br> 2) loc: loc[row_value, column_value]

In [9]:
# we can only use the index value here
df.iloc[[0,1], [0,1]]

     first     last
0  Nishant  Neupane
1      Ram  Sitaula

In [10]:
# we can use index names here
df.loc[[0,1], ["email"]]

                       email
0  nishant.neupane@gmail.com
1      ram.sitaula@gmail.com