In [2]:
people={
    "first": ["Nishant", "Ram", "Shyam"],
    "last" : ["Neupane", "Sitaula", "Dahal"],
    "email" : ["nishant.neupane@gmail.com","ram.sitaula@gmail.com", "shyam.dahal@gmail.com"]
}
import pandas as pd
df = pd.DataFrame(people)
df

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com
1      Ram  Sitaula      ram.sitaula@gmail.com
2    Shyam    Dahal      shyam.dahal@gmail.com

In [4]:
# constructing a filter
filt = (df["last"] == "Neupane")
filt

0     True
1    False
2    False
Name: last, dtype: bool

In [5]:
# filtering can be done in multiple ways
df[filt]

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com

In [6]:
df.loc[filt]

     first     last                      email
0  Nishant  Neupane  nishant.neupane@gmail.com

In [8]:
# returning the email of person whose last name is neupane
df.loc[filt,"email"][0]

'nishant.neupane@gmail.com'